<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ModelVariations" Description="Code analysis rules for ModelVariations.vcxproj." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26446" Action="None" />
    <Rule Id="C26482" Action="None" />
    <Rule Id="C26493" Action="None" />
    <Rule Id="C26818" Action="None" />
  </Rules>
</RuleSet>